<%- include('../partials/header') %>
    <h1> Flights</h1>
    <table id="list">
        <thead>
          <tr>
            <th>airline</th>
            <th>Airport</th>
            <th>flight number</th>
            <th>Depart</th>
          </tr>
        </thead>
    <tbody>
    <% flights.forEach((f) => { %>
        <tr>
            <td><%= f.airline %> </td>
            <td><%= f.airport %> </td>
            <td><%= f.flightNo %> </td>
            <td><%= f.departs %> </td>
            <td><form action="flights/<%= f._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form></td>
        </tr>
            <% }) %>
    </tbody>
    </table>
<%- include('../partials/footer') %>
